* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --first-color: #e5c373;
}

/******************/
/** start header **/
/******************/

header {
    background-image: url(../photo/IMG_20221026_095337_909.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 657px;
    background-color: #232323;
}

.navbar-nav {
    margin-left: 50%;
    font-size: 18px;
}

.navbar-toggler {
    color: #fff;
    font-size: 30px;
}

.nav-link {
    color: #fff;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
    color: var(--first-color);
}

.navbar-brand {
    color: var(--first-color);
}

.text {
    margin-top: 100px;
    margin-left: 30px;
}

.text h1 {
    letter-spacing: 10px;
    font-size: 80px;
    font-weight: bolder;
}

.text h1:first-child {
    color: var(--first-color);
}

.text p {
    margin: 15px 0 45px 0;
}

.text h1,
.text p {
    color: #fff;
}

.text button {
    background-color: var(--first-color);
    color: #232323;
    border: none;
    padding: 8px 25px;
    font-size: 18px;
}

.icon {
    margin-top: 90px;
}

.icon svg {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

/******************/
/*** end header ***/
/******************/

/********************/
/** start category **/
/********************/

main {
    text-align: center;
    margin-top: 70px;
}

main hr {
    width: 50%;
    margin-left: 260px;
    color: var(--first-color);
}

.category {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.category .comp,
.category .prod {
    width: 30%;
    position: relative;
}

.category .comp img,
.category .prod img {
    width: 100%;
    height: 400px;
    transition: all 0.5s;
    border-radius: 20px;
}

.category .comp:hover img {
    transform: scale(1.09);
}

.category .comp .title {
    background-color: #232323;
    width: 50%;
    position: absolute;
    left: 80px;
    padding: 20px 0 0 0;
    bottom: -20px;
    cursor: pointer;
}

.category .prod .sup-title {
    margin-top: 20px;
    background-color: var(--first-color);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 20px;
    padding-top: 50%;
    opacity: 0;
    transition: all 0.4s;
    cursor: grab;
}

.category .prod:hover .sup-title {
    opacity: 0.8;
}

.category .prod .sup-title span {
    color: #777;
    font-size: 30px;
    font-weight: bold;
}

main button {
    margin-top: 30px;
    padding: 5px 20px;
    background-color: transparent;
    transition: all 0.4s;
    border-color: var(--first-color);
    color: #232323;
}

main button:hover {
    background-color: var(--first-color);
    color: #fff;
    border: none;
}

.category .comp .title h4 {
    color: var(--first-color);
}

.category .comp .title p {
    color: #fff;
}

/******************/
/** END CATEGORY **/
/******************/

/******************/
/*** START SHOP ***/
/******************/

.shop {
    display: flex;
    margin-top: 50px;
    background-color: #232323;
}

.shop .left {
    width: 40%;
    height: 100%;
}

.shop .left img {
    width: 100%;
    height: 100%;
}

.shop .right {
    color: #fff;
    padding: 50px 150px;
}

.shop .right span {
    color: var(--first-color);
}

.shop .right input {
    padding: 3px 10px;
}

.shop .right .submit {
    margin-top: 30px;
    padding: 5px 10px;
    background-color: var(--first-color);
    color: #fff;
    border: none;
}

/****************/
/*** END SHOP ***/
/****************/

/******************/
/*** START NEWS ***/
/******************/

.news {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.news .prod {
    width: 30%;
    position: relative;
}

.news .prod img {
    width: 100%;
    height: 400px;
    transition: all 0.5s;
    border-radius: 20px;
}

.news .prod .sup-title {
    background-color: #232323;
    color: #fff;
    width: fit-content;
    position: absolute;
    top: 56%;
    left: 80px;
}

.news .prod .sup-title p {
    padding: 15px 35px 0px 35px;
}

.news .prod .trend {
    margin-top: 40px;
    text-align: left;
}

/******************/
/**** END NEWS ****/
/******************/

/******************/
/** start footer **/
/******************/

footer {
    background-color: #232323;
    color: #fff;
    margin-top: 40px;
}

footer p {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer h5 {
    color: var(--first-color);
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
}

.footer ul {
    list-style: none;
    margin-top: 20px;
}

.footer ul a {
    color: #fff;
    text-decoration: none;
}

.footer ul a:hover {
    color: var(--first-color);
    text-decoration: none;
}

.footer ul li {
    padding-top: 25px;
}

.footer ul.social li {
    padding-top: 15px;
}

/********************/
/**** END FOOTER ****/
/********************/

/*****************/
/*---scroll up---*/
/*****************/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    padding: 1rem;
    display: flex;
    opacity: .8;
    transition: .4s;
}

.scrollup-icon {
    color: #fff;
}

.scrollup:hover {
    background-color: var(--first-color);
    opacity: 1;
}

/*************/
/*show scroll*/
/*************/
.show-scroll {
    bottom: 5rem;
}