* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --first-color: #e5c373;
}

/******************/
/** start header **/
/***** raneem *****/
/******************/



/******************/
/*** end header ***/
/******************/

/********************/
/** start category **/
/****** osama *******/
/********************/


/******************/
/** END CATEGORY **/
/******************/

/******************/
/*** START SHOP ***/
/**** mohammad ****/
/******************/




/****************/
/*** END SHOP ***/
/****************/

/******************/
/*** START NEWS ***/
/***** mawaldi ****/
/******************/



/******************/
/**** END NEWS ****/
/******************/

/******************/
/** start footer **/
/***** karbik *****/
/******************/



/********************/
/**** END FOOTER ****/
/********************/